.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid #ff33c5;
  background: #ff33c5;
  border-radius: 50%;
  position: fixed;
  /* transform: translate(-50%, -50%); */
  /* pointer-events: none; */
  /* transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode; */
  z-index: 3;
  /* mix-blend-mode: difference; */

  animation: come 1s linear forwards;
}

@keyframes come {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    width: 40px;
    height: 40px;
  }
  50% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  70% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    width: 10px;
    height: 10px;
  }
  100% {
    transform: scale(1) translateY(50px);
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}
